  <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Body</th>
          <th colspan="3"></th>
        </tr>
      </thead>

    <tbody>
      <% @users.each do |list| %>
        <tr>
          <td><%= list.name %></td>
          <td><%= list.email %></td>
          <td><%= list.encrypted_password %></td>
          <td><%= link_to 'Show', "/books/#{list.id}" %></td>
          <td><%= link_to 'Edit', "/books/#{list.id}/edit" %></td>
          <td><%= link_to 'Destroy', "/books/#{list.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><br></td>
        </tr>
      <% end %>
    </tbody>
  </table>