
    <div>
      <h2>User info</h2>
      <table class='table'>
        <tr>
          <%= attachment_image_tag @user, :caption, :fill, 60, 60, fallback: "no_image.jpg", class: "img-circle pull-left profile-thumb" %>
          <th>name</th>
          <th><%= @user.name %></th>
          <%= link_to '設定',"#{user_path(current_user.id)}/edit"%>
          <th>introduction</th>
          <th><%= @user.name %></th>
        </tr>

        <h1>New book</h1>
        <tr>
          <% if @book.errors.any? %>
            <p><%= @book.errors.count %> errors prohibited this book from being saved:</p>
            <ul>
              <% @book.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>
          <%= form_for(@book) do |f| %>
            <th>Tittle</th>
            <%= f.text_field :title %>
            <th>Opinion</th>
            <%= f.text_area :opinion %>
            <th><br></th>
            <%= f.submit 'Create Book' %>
          <% end %>
        </tr>
      </table>
    </div>
